# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Redux연습/react-redux-tutorial/src/reportWebVitals.js
Redux연습/react-redux-tutorial/src/setupTests.js
Redux연습/react-redux-tutorial/src/logo.svg
.gitignore
context-tutorial
Redux연습/react-redux-tutorial/.gitignore
.gitignore
Redux연습/react-redux-tutorial/package.json
package.json
yarn.lock
shop-app/public/favicon.ico
shop-app/public/index.html
shop-app/public/logo192.png
shop-app/public/logo512.png
shop-app/public/manifest.json
shop-app/public/robots.txt
shop-app/package-lock.json
shop-app/README.md
.gitignore
